# Ignore screenshots
/screenshots/

# Ignore IDE and OS files
*.class
*.log
*.DS_Store
*.iml
*.swp

# Ignore target folder (Maven)
target/

# Ignore test output
test-output/

# Ignore config or user-specific files
.idea/
.vscode/
*.json
